@font-face {
    font-family: storm;
    src: url(./Storm\ Gust.otf);
}
@font-face {
    font-family: sher;
    src: url(./Ndot-55.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

h1{
    background-color: aquamarine;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}
p{
    background-color: yellow;
    font-size: 30px;
    font-weight: 800;
    text-transform: lowercase;
}
.hero{
    color: black;
    background-color: red;
    font-family: storm;
    font-size: 100px;
}
h3{
    columns: grey;
    font-family: sher;
    font-size: 150px;
}